*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    text-align: center;
    align-items: center;
    background-color: rgb(180, 174, 170);
    font-size: 30px;
}
header a{
    color: rgb(43, 39, 36);
    text-decoration: none;
    text-transform: capitalize;
}
.logo{
    margin-left: 50px;
}
.nav{
    margin-right: 50px;
}
.nav a{
margin-right: 30px;
}
.container{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.image img{
    width: 200px;
    height: 250px;
}
.name{
   font-size: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.price{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn button{
         width: 100px;
    height: 30px;
    background-color: tomato;
    color: #fff;
}
.btn {
    width: 100px;
height: 30px;
margin-left: 50px;
}
.productItem{
   border-right: 0.5px solid gray;
   border-bottom: 0.5px solid gray;
   margin-left: 50px;
   margin-bottom: 20px;
}

.cartdisp img{
width: 70px;
}
.cartdisp{
    margin-left: 100px;
    align-items: center;
    text-align: center;
    }

.displayItem{
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-left: 100px;
    margin-top: 50px ;
    font-size: 12px;

}
.item{
    width: 100px;
    border-radius: 20px;
    margin: 10px;
    background-color: coral;
}
.names{
    width: 300px;
    border-radius: 20px;
    margin: 10px;
    background-color: coral;
}
.prices{
    width: 100px;
    border-radius: 20px;
    margin: 10px;
    background-color: coral;
}
.quantity{
    width: 130px;
    border-radius: 20px;
    margin: 10px;
    background-color: coral;
}
.total{
    width: 100px;
    border-radius: 20px;
    margin: 10px;
    background-color: coral;
}
.cartlist{
    display: flex;
    text-transform: capitalize;
}

.forImage{
    width: 100px;
  
    margin: 10px;
    
}
.forName{
    width: 300px;
  
    margin: 10px;
    
}
.forPrice{
    width: 100px;
   
    margin: 10px;
    
}
.forQuantity{
    width: 130px;
   
    margin: 10px;
    
}
.forQuantity input{
    width: 50px;
   
    margin: 10px;
    
}
.increse{
    width: 100px;
   
   
    
}
.forTotal{
    width: 100px;
   
    margin: 10px;
    
}
.reoveItem button{
    cursor: pointer;
    background-color: red;
    width: 70px;
    height: 20px;
    color: #fff;
    
}

.totalPriceCart{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-top: 100px;
    width: 400px;
    background-color: rgb(221, 143, 25);
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
.subtotal{
    margin: 10px;
}
.priceView{
    margin: 10px;
   
}

/*footer*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;

}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
    }
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;  
}
ul{
    list-style-type: none;

}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;

}
.footer hr{
    border: none;   
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;

}
.copyrigth{
    text-align: center;

}

.menu-icon{
    width: 28px;
    margin-left:  20px;
    display: none;

}

